<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ChildInfoMapper">
  <resultMap id="BaseResultMap" type="entity.ChildInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="childname" jdbcType="VARCHAR" property="childname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, childname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from childinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from childinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.ChildInfo">
    insert into childinfo (id, childname)
    values (#{id,jdbcType=INTEGER}, #{childname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.ChildInfo">
    insert into childinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="childname != null">
        childname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="childname != null">
        #{childname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.ChildInfo">
    update childinfo
    <set>
      <if test="childname != null">
        childname = #{childname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.ChildInfo">
    update childinfo
    set childname = #{childname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getChildByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from childinfo
    where childname = #{childName}
  </select>


  <select id="haveChild" resultType="java.lang.Integer">
    select
    count(1)
    from childinfo
    where childname = #{childName}
  </select>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from childinfo
    where 1=1 order by id desc
  </select>
</mapper>